---
import Layout from '../../layouts/layout.astro';
import Hero from '../../components/sections/hero.astro';
import Programacion from '../../components/sections/programacion.astro';
import Historia from '../../components/sections/historia.astro';
import Tickets from '../../components/sections/tickets.astro';
import About from '../../components/sections/about.astro';
import Info from '../../components/sections/info.astro';
import CotxeSharing from '../../components/sections/cotxe-sharing.astro';
---

<Layout title="Festival KONTRAST">
    <section id="hero"><Hero /></section>
    <section id="programacion"><Programacion /></section>
    <section id="tickets"><Tickets /></section>
    <section id="info"><Info /></section>
    <section id="cotxe-sharing"><CotxeSharing /></section>
    <section id="about"><About /></section>
    <section id="historia"><Historia /></section>
</Layout>