
    <div class="contenedor-principal">
        <div style="display:flex; flex-direction: row; gap: 50px; text-align: justify;">
            <div style="flex:1">
                 <h2 class="anim-left">Kontrast #6!</h2>
                 <div style="height: 15vh"></div>
                  <p style="width: 60vw; text-align: center; margin:0 auto;">Multiforme i camaleònic, el Kontrast és un animal rar en creixement continu, 
                    que ara compleix els seus cinc anys de vida. Després de les primeres etapes lligades al descobriment de les possibilitats de l'ambient 
                    en què s'ha manifestat aquesta criatura, expandeix ara els tentacles per abastar tots els camps de l'art circense i musical.
                    La bèstia insaciable comença a conèixer les seves forces i aquest any s'expandeix per l'espai que l'envolta: partint des del Konvent 
                    tocarà amb les seves arts mòbils, la seva babilònia de llengües i còctel d'arts escèniques els pobles veïns de Gironella i Olvan, 
                    els camps de Cal Rosal amb les carpes de My!Laika/Side kunst-cirque i Cirque Pardi! i fins i tot els rius amb espectacles flotants.
                    <br>
                    No us perdeu l'oportunitat de veure de prop aquest extraordinari animal que creix sota el signe del circ i surt del cau del 18 al 27 
                    d'abril per sorprendre i emocionar. Donar-li suport és un acte d'amor: com tots els festivals, corre el risc d'extingir-se.
                    <br>

                    Com a plat fort d’aquesta edició, el col·lectiu Cirque Pardi! aterra al Kontrast amb el seu convoi i la seva carpa 
                    per presentar per primera vegada a Catalunya Low Cost Paradise, un espectacle de circ modern amb 10 artistes en escena, 
                    música en directe i una combinació de tècniques circenses que inclouen trapezi fix, trapezi ballant, dansa, bicicleta acrobàtica, 
                    funambulisme, portés acrobàtics, clown i malabars.
                    <br>
                    El nom del festival és Kontrast. Contrasti és el nom que els circenses italians han estat utilitzant durant generacions per referir-se 
                    als artistes que no pertanyen a la dinastia, és a dir, aquells que no provenen de famílies de circ tradicional.
                    Això som nosaltres! Contrastos, sense dogmes a respectar: 100% pur circ.</p>
                    <div style="height: 10vh"></div>

                    
                            <p class="p2">*Kontrast és un festival autogestionat on tots els ingressos de les taquilles es destinen a remunerar la feina de lxs artistxs 
                                i a cobrir despeses d'infraestructura i manutenció. L'equip Kontrast treballa de forma voluntària per dur a terme el festival. 
                                Si tens els mitjans i la voluntat d'ajudar a sostenir el projecte, et proposem la tarifa solidària.</p>

            </div>
       

