---
---
<div class="contenedor-principal" style="background-color: var(--c-blanco); padding: 0.5vh 20px; border-radius: 10px;color: var(--c-negro); ">
    <h3 style="text-align: center;">Vens en cotxe o en necessites un?</h3>
<div style="display: flex; justify-content: center; position:relative;">
    <img class="dibujito" src="/public/img/dib-coche.webp" alt="Cotxe Sharing" style="scale: 1.3; top: -20vh; right: -4vw;">
        <img class="dibujito" src="/public/img/dib-coche.webp" alt="Cotxe Sharing" style="scale: 1.3; top: 0vh; left: -4vw;">

        <a href="/cotxe-sharing-page" style="text-decoration: none;">
            <h1 class="btn-entrades" style="-webkit-filter:invert(100%); margin-top: -1vh;margin-bottom: 5vh;">COTXE-SHARING!</h1>
        </a>
    </div>

    </div>
    <div style="height: 5vh;"></div>
