---
---
<div class="contenedor-principal" style="background-color: #f0f0f0; padding: 0.5vh 20px; border-radius: 10px;color: #000000;">
    <h4 style="text-align: center;">Vens en cotxe o en necessites un?</h4>
<div style="display: flex; justify-content: center; margin-top: 0px;">
        <a href="/cotxe-sharing-page" style="text-decoration: none;">
            <h1 class="btn-entrades" style="-webkit-filter:invert(100%); margin-top: -1vh;margin-bottom: 5vh;">COTXE-SHARING!</h1>
        </a>
    </div>

    </div>
    <div style="height: 5vh;"></div>
