---
// src/components/sections/info.astro
const lang = Astro.currentLocale || 'ca';

const t = {
    horaris: lang === 'en' ? 'OPENING HOURS' : 'HORARIS D’OBERTURA',
    transport: lang === 'en' ? 'TRANSPORT' : 'TRANSPORT',
    bus_info: lang === 'en' 
        ? 'BUS Barcelona-Berga nearest stop: <br>Cal Rosal - Alternative stop: Berga' 
        : 'BUS Barcelona-Berga parada més propera: <br>Cal Rosal - Parada alternativa: Berga',
    cotxe_info: lang === 'en'
        ? 'From Barcelona Direction Túnel Cadí Highway C-16 Exit 92'
        : 'Des de Barcelona Direcció Túnel Cadí Autovia C-16 Sortida 92'
};
---

<div>
    <!-- ><h2 class="anim-left">INFO</h2> -->
        <img src="/img/info.webp" alt="entrades" class="titulos" style="scale:.7">


    <h1 style="text-align: center;">{t.horaris}</h1>
    <p class="horaris">
       <strong> 10/04 - 17.30h </strong>(Pl. de la Vila, Gironella)<br>
       <strong>  11/04 - 16.30h </strong>(Casserres)<br>(+ espectacle gratuït a Casserres a les 12.00h)<br>
       <strong>  12/04 - 13.00h </strong>(KONVENT)<br>
        <br>
        <strong>  16/04 - 19.00h </strong>(KONVENT)<br>
        <strong>  17/04 - 17.30h </strong>(KONVENT)<br>
        <strong>  18/04 - 15.00h </strong>(KONVENT)<br>
        <strong>  19/04 - 13.00h </strong>(KONVENT)
    </p>

    <h1 style="text-align: center;">{t.transport}</h1>
    <p class="horaris">
        <span set:html={t.bus_info} />
        <br>
        www.alsa.es
        <br><br>
        {t.cotxe_info}
    </p>
</div>

