---
import Layout from '../layouts/layout.astro';
---
<div class="header-prog">
    <!-- Solo añadimos la clase -->
    <h2 class="anim-left">TICKETS</h2>
</div>
    <div class="contenedor-principal">
        <div class="tickets-container">
            <div class="tickets-column">
            </div>
            <div class="tickets-column">
                <h3 style="text-align: center;">ESPECTACLE</h3>
            </div>
            <div class="tickets-column">
                <h3 style="text-align: center;">CONCERT</h3>
            </div>
        </div>


        <div class="tickets-container">
            <div class="tickets-column">
                <h4>ADULT</h4>
            </div>
            <div class="tickets-column">
                <h1 class="preu">12€</h1>
            </div>
            <div class="tickets-column">
                <h1 class="preu">10€</h1>
            </div>
        </div>

        <hr class="solid">

        <div class="tickets-container">
            <div class="tickets-column">
                <h4>INFANT</h4>
            </div>
            <div class="tickets-column">
                <h1 class="preu">8€</h1>
            </div>
            <div class="tickets-column">
                <h1 class="preu">6€</h1>
            </div>
        </div>

        <hr class="solid">

        <div class="tickets-container">
            <div class="tickets-column">
                <h4>TARIFA SOLIDARIA*</h4>
            </div>
            <div class="tickets-column">
                <h1 class="preu">15€
                </h1>
            </div>
            <div class="tickets-column">
                <h1 class="preu">20€</h1>
            </div>
        </div>

        <hr class="solid">
    </div>
    
    <div style="margin-top: 30px; max-width: 60vw; margin-left: auto; margin-right: auto; text-align: center; font-style: italic;">
        <p>
            *La tarifa solidaria és per a aquelles persones que vulguin aportar un granet de sorra per ajudar a que el festival sigui més accessible per a tothom. :)
        </p>
    </div>

    <div style="display:flex; flex-direction: column; margin-top: 10vh; align-items: center; gap: -40px;">
        <h3 style="text-align: center;">ABONAMENTS DE DIA i CAP de SETMANA</h3>
        <h3 style="text-align: center; background-color: rgb(255, 255, 255); 
        color: black; width: fit-content; padding: 20px 40px; border-radius: 0px;
        margin-top:-40px; font-weight: 700; rotate:-2deg">
        NOMES COMPRA ONLINE
    </h3>
<h1 class="btn-entrades">COMPRAR ENTRADES</h1>    </div>

<div class="contenedor-video-magico">
    <!-- 
       IMPORTANTE:
       - class="video-scroll": Activa el script.
       - muted playsinline: OBLIGATORIO para que funcione en móviles/chrome.
       - preload="auto": Ayuda a que esté listo para moverse.
    -->
    <video 
        src="/videos/K_animacion-disegno.webm" 
        class="video-scroll"
        muted 
        playsinline 
        preload="auto"
    ></video>
</div>