---
import Layout from '../layouts/Layout.astro';
---
<Layout title="ABOUT">
    <div class="contenedor-principal">
        <div style="display:flex; flex-direction: row; gap: 50px; text-align: justify;">
            <div style="flex:1">
                 <h1>CAT</h1>
                 <h2>Benvingudes i gràcies. Kontrast #6!</h2>
                  <p>Multiforme i camaleònic, el Kontrast és un animal rar en creixement continu, que ara compleix els seus cinc anys de vida. Després de les primeres etapes lligades al descobriment de les possibilitats de l'ambient en què s'ha manifestat aquesta criatura, expandeix ara els tentacles per abastar tots els camps de l'art circense i musical.
                    La bèstia insaciable comença a conèixer les seves forces i aquest any s'expandeix per l'espai que l'envolta: partint des del Konvent tocarà amb les seves arts mòbils, la seva babilònia de llengües i còctel d'arts escèniques els pobles veïns de Gironella i Olvan, els camps de Cal Rosal amb les carpes de My!Laika/Side kunst-cirque i Cirque Pardi! i fins i tot els rius amb espectacles flotants.
                    <br>
                    No us perdeu l'oportunitat de veure de prop aquest extraordinari animal que creix sota el signe del circ i surt del cau del 18 al 27 d'abril per sorprendre i emocionar. Donar-li suport és un acte d'amor: com tots els festivals, corre el risc d'extingir-se.
                    <br>

                    Com a plat fort d’aquesta edició, el col·lectiu Cirque Pardi! aterra al Kontrast amb el seu convoi i la seva carpa per presentar per primera vegada a Catalunya Low Cost Paradise, un espectacle de circ modern amb 10 artistes en escena, música en directe i una combinació de tècniques circenses que inclouen trapezi fix, trapezi ballant, dansa, bicicleta acrobàtica, funambulisme, portés acrobàtics, clown i malabars.
                    <br>
                    El nom del festival és Kontrast. Contrasti és el nom que els circenses italians han estat utilitzant durant generacions per referir-se als artistes que no pertanyen a la dinastia, és a dir, aquells que no provenen de famílies de circ tradicional.
                    Això som nosaltres! Contrastos, sense dogmes a respectar: 100% pur circ.</p>
                            <h2>*Kontrast és un festival autogestionat on tots els ingressos de les taquilles es destinen a remunerar la feina de lxs artistxs i a cobrir despeses d'infraestructura i manutenció. L'equip Kontrast treballa de forma voluntària per dur a terme el festival. Si tens els mitjans i la voluntat d'ajudar a sostenir el projecte, et proposem la tarifa solidària.</h2>

            </div>
       
         <div style="flex:1"> 
            <h1>ENG</h1>
                 <h2>Welcome and thank you. Kontrast #6!</h2>
                     <p>Multiform and chameleonic, Kontrast is a rare, ever-growing creature, now celebrating its fifth year of existence. After the initial stages tied to discovering the possibilities of the environment in which this being has manifested, it now expands its tentacles to encompass all fields of circus and musical arts. The insatiable beast begins to understand its own strength and this year spreads out into the surrounding space: starting from the Konvent, it will reach neighboring towns like Gironella and Olvan, the fields of Cal Rosal with the tents of My!Laika/Side kunst-cirque and Cirque Pardi!, and even the rivers with floating performances.

Don’t miss the opportunity to get up close to this extraordinary creature, growing under the sign of the circus, as it emerges from its den between April 18th and 27th to surprise and move you. Supporting it is an act of love: like all festivals, it risks extinction.
<br>
As the highlight of this edition, the collective Cirque Pardi! lands at Kontrast with its convoy and tent to present for the first time in Catalonia Low Cost Paradise, a modern circus show featuring 10 performers on stage, live music, and a mix of circus techniques including fixed trapeze, dancing trapeze, dance, acrobatic bicycle, tightrope walking, acrobatic lifts, clowning, and juggling.
<br>
The name of the festival is Kontrast. Contrasti is the name that Italian circus performers have been using for generations to refer to artists who do not belong to the circus dynasty, i.e., those who do not come from traditional circus families.
<br>
That’s who we are! Contrasts, with no dogmas to respect: 100% pure circus.</p>
        <h2>*Kontrast is a self-managed festival where all box office income is used to pay the artists and cover infrastructure and maintenance costs. The Kontrast team works voluntarily to carry out the festival. If you have the means and the willingness to help sustain the project, we suggest the solidarity rate.</h2>

            </div>
    </div>
</Layout>