---
import Layout from '../layouts/Layout.astro';
---
<Layout title="Secci칩n en construcci칩n">
    <div class="contenedor-principal">
        <h1>P치gina en construcci칩n</h1>
        <p>Pronto disponible.</p>
    </div>
</Layout>