---
import Layout from '../layouts/Layout.astro';
---
<Layout title="Sección en construcción">
    <div class="contenedor-principal">
        

            <h1 style="text-align: center;">CONTACTE: festival.kontrast@gmail.com</h1>


                    <h1 style="text-align: center;">Horaris d’obertura / Opening times</h1>
                    <p style="text-align: center;">Dv/Fri 18/04   16.15h (Espai Sta. Eulàlia, Gironella)
Ds/Sat 19/04    16.30h (KONVENT)<br>
Dg/Sun 14/04    13.00h (KONVENT)<br>
<br>
Dj/Thurs 24/04     17.30h (KONVENT)<br>
Dv/Fri 25/04    18.00h (KONVENT)<br>
Ds/Sat 26/04    16.30h (KONVENT)<br>
Dg/Sun 27/04    13.00h (KONVENT)</p>

<h1 style="text-align: center;">Transport</h1>
                    <p style="text-align: center;">
                        BUS Barcelona-Berga parada más cercana: Cal Rosal - Parada alternativa: Berga<br>
                        BUS Barcelona-Berga nearest stop: Cal Rosal - Alternative stop: Berga.<br>
                        www.alsa.es

                        Des de Barcelona Direcció Túnel Cadí Autovia C-16 Sortida 92<br>

                        From Barcelona Direction Cadí Tunnel C-16 Highway Exit 92<br>
                        </p>

<h1>Vens en cotxe o en necessites un? Are you coming by car or do you need a ride? ︎COTXE-SHARING!︎

</h1>

    </Layout>