---
import Layout from '../layouts/layout.astro';
---
<Layout title="Sección en construcción">
    <div class="contenedor-principal">
        <div style="display:flex; flex-direction: row; gap: 50px; ">
            <div style="flex:1; display:flex; flex-direction: column;">
                
            <div style="margin-bottom: auto;">
            <h1>PREU PER ESPECTACLE<br>PRICE PER SHOW</h1>
            </div>
            <h2>
            ADULT 12€
            <br>
            INFANT (6-12) 8€
            <br>
            TARIFA SOLIDÀRIA* 15€
            </h2>
        </div>
    
<div style="flex:1">
            <h1>PREU PER CONCERT - WORK IN PROGRESS
            <br>PRICE PER CONCERT - WORK IN PROGRESS: </h1>
            <div style="margin-top: auto;">
            <h2>
            ADULT 10€
            <br>    
            INFANT (6-12) 6€
            <br>
            TARIFA SOLIDÀRIA* 12€
        </h2>
            </div>
            </div>

<div style="flex:1">
        <h1>ABONAMENTS DE DIA I CAP DE SETMANA
            <br>
            DAY AND WEEKEND TICKETS </h1>
        <h2>
            (NOMÉS COMPRA ONLINE)
            <br>    
            <a href="https://www.ticketic.org/ca/entrades/festival-kontrast-5" target="_blank">D’ENTRADES ONLINE: CLICK AQUI!</a>
        </h2>
            </div>
    </div>

    <div>  
        <h1>PUNTS DE VENDA/SELLING POINTS: 
 </h1>
        <h2>
            CASA ENFRUNS (CAL ROSAL)   
             <br>    
            ︎CORPUS (BERGA)
            <br>
            ︎LA SALADA (GIRONELLA)
        </h2>

    <h1 style="text-align: center;margin-top: 50px;font-size: 3.5rem !important; border: 1px solid rgb(255, 255, 255);width: fit-content">COMPRAR ENTRADES</h1>    
    </div>
</Layout>   